
# Node & build
node_modules/
.next/
out/
dist/

# Environment
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Keep folders (optional)
!/public/thumbnails/.keep
!/public/media/.keep
node_modules/

# Ignore mirror clones or cleanup artifacts
loungenetwork.git/
loungenetwork.git.bfg-report/

/generated/prisma
