// next.config.js (with standalone - recommended)
/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
  devIndicators: {
    buildActivity: false,
    buildActivityPosition: 'bottom-right',
  },
  output: 'standalone',
  images: {
    domains: ['loungenetwork.ng'],
  },
};

module.exports = nextConfig;