// next.config.js
/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,       // Optional, keep if present
  devIndicators:false | {
    buildActivity: false,      // Disable the loading spinner
    buildActivityPosition: 'bottom-right', // Optional, if you still want to move it
  },
};

module.exports = nextConfig;
